{% macro displaySourceList(source_list) %}
<div class = "container">
{% for source in source_list %}
<div class = "row">
    <div class = "col-md-6">
  
    <h4 style="font-family: 'Permanent Marker', cursive; font-size: 150%;">{{source.name}}</h4>
    <p>{{source.description | truncate(50)}}</p>
    <a href="/source/{{source.id}}" class="btn btn-success" target="_blank">{{source.name}}</a><br><br>
  </div>

</div>
  {% endfor %}

</div>
{% endmacro %}


{% macro displayArticlesList(articles_list) %}
{% for article in articles_list %}
<div class="container">
    <img class="img-responsive" src="{{article.image}}" alt="image">
    <h4>{{article.title}}</h4>
    <p>{{article.description}}</p>
    <p>Created: {{article.publishedAt}}</p>
    <a href="{{article.url}}"style="padding:10px; margin :20px;" class="btn-primary">Read more</a>
  </div>
</div>
{% endfor %}
{% endmacro %}